<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.AdminPage.mapper.SalesMapper">
    <!-- 데이터 넣기 쿼리
    <insert id="salesAdd">
        insert into sales value(#{productId}, #{productName}, #{productPrice}, #{salesAmount}, #{salesDate})
    </insert>-->
	
	<!-- 월 총액 쿼리 -->
    <select id="monthTotal" resultType="int">
        select ifnull(sum(C.total), 0) 
		from (select A.productPrice * B.outputAmount total
				from product A
				left join outputlist B on A.productId = B.productId
				<if test="month != null">
					where month(B.salesDate) = cast(#{month} as unsigned)
				</if>
			) C
    </select>
    
    <!-- 월 총액 구버전 쿼리 
     <select id="monthTotal" resultType="com.AdminPage.model.SalesCriteria">
        select sum(ex1.total) from (select productPrice * salesAmount total from sample_sales 
        	<if test="month != null">
        		where month(salesDate) = cast(#{month} as unsigned)
        	</if>
       	) ex1
    </select>-->
    
    <!-- 월 상세목록 -->
    <select id="getMonthDetailList" resultType="com.AdminPage.model.OutputCriteria">
	    select A.productId, A.productName, A.productPrice, B.outputAmount, date_format(B.salesDate, '%Y-%m-%d') salesDate 
		from product A
		left join outputlist B on A.productId = B.productId
		<if test="month != null">
			where month(B.salesDate) = cast(#{month} as unsigned)
		</if>
		order by salesDate desc
	</select>
	
    <!-- 월 상세목록 구버전 쿼리 
    <select id="getMonthDetailList" resultType="com.AdminPage.model.SalesCriteria">
        select productId, productName, productPrice, salesAmount, date_format(salesDate, '%Y-%m-%d') salesDate from sample_sales 
        <if test="month != null">
        	where month(salesDate) = cast(#{month} as unsigned)
        </if>
    </select>-->
    
    <!-- 월 상세 목록 수 
    <select id="outputGetTotal" resultType="int">
	    select A.productId, A.productName, A.productPrice, B.outputAmount, date_format(B.salesDate, '%Y-%m-%d') salesDate 
		from product A
		left join outputlist B on A.productId = B.productId
		<if test="month != null">
			where month(B.salesDate) = cast(#{month} as unsigned)
		</if>
		order by salesDate desc
	</select> -->
	
	<!-- 이번주 총 매출 쿼리 -->
	<select id="weekTotal" resultType="int">
	    select ifnull(sum(c.weektotal), 0) from (select b.productPrice * b.productAmount weektotal
	    from (select * from outputlist where salesDate between (date_format(date_sub(now(), interval weekday(now()) day), '%Y-%m-%d' )) and (select date_format(date_sub(now(), interval weekday(now()) - 6 day), '%Y-%m-%d' ))) a
		left join product b on a.productId = b.productId) c
	</select>
	
	<!-- 이번주 매출 목록 쿼리 -->
	<select id="getWeekList" resultType="com.AdminPage.model.OutputCriteria">
    	select a. productId, b.productName, b.productPrice, a.outputAmount, b.productPrice * a.outputAmount totalPrice, date_format(a.salesDate, '%Y-%m-%d') salesDate
		from (select * from outputlist where salesDate between (date_format(date_sub(now(), interval weekday(now()) day), '%Y-%m-%d' )) and (select date_format(date_sub(now(), interval weekday(now()) - 6 day), '%Y-%m-%d' ))) a
		left join product b on a.productId = b.productId
    </select> 
</mapper>